// -------------------------------
// Global
// -------------------------------

* {
	&, &:before, &:after {
		box-sizing:border-box;
		}
	}
html {
	-webkit-text-size-adjust:100%;
	-ms-text-size-adjust:100%;
	}

// Body

body {
	@include container;
	background:#F2F2F2;
	color:#000;
	font:16px/1.5 Roboto, Helvetica, Arial, sans-serif;
	}
	a {
		text-decoration:none;
		}
