// -------------------------------
// Header
// -------------------------------

.header {

	@include clearfix;

	background:$green;
	color:#FFF;

	&__title {
		float:left;
		width:80px;
		height:64px;
		background:#FFF url(/images/logo.svg) 50% 50% no-repeat;
		background-size:auto 30px;
		}

	&__link {
		display:block;
		width:100%;
		height:100%;
		}

	&__text {
		@include offscreen;
		}

	}
