// -------------------------------
// Links
// -------------------------------

// Blue

%link--blue {
	color:$blue;
	&:hover,
	&:focus {
		color:lighten($blue, 10%);
		}
	}

// White

%link--white {
	color:white;
	}
