textarea, input, select {
	font-family:'Helvetica Neue', 'Helvetica', 'Arial', sans-serif;
	}

/* Header
---------------------------------------- */

/* Logo */
#header .logotype a img {
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=50)';
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=50);
	}
#header .logotype a:hover img {
	-ms-filter:'progid:DXImageTransform.Microsoft.Alpha(opacity=100)';
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=100);
	}

/* Intro
---------------------------------------- */
* html #intro {
    height:160px;
    }

/* Module
---------------------------------------- */

/* Tags */
* + html .module-tags li {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			t.nextSibling != null ? t.innerHTML = t.innerHTML + '&middot; ' : 0;
		}(this)
	);
	}

/* Content
---------------------------------------- */

/* Paging */
* + html .content .paging li {
	display:inline;
	}

/* Archive List
---------------------------------------- */

/* Compact List */
* + html .compact-list .heading p {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			t.innerHTML += '&nbsp;&nbsp;&middot;&nbsp;&nbsp;';
		}(this)
	);
	}

/* Content Article
---------------------------------------- */

/* Lists */
* + html .content-article ul li {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			t.insertAdjacentHTML(
				'afterBegin',
				'<span class="content-article-ul-dash">&mdash;</span>'
			);
		}(this)
	);
	}
	* + html .content-article-ul-dash {
		position:absolute;
		margin:-4px 0 0 -1.5em;
		}
* + html .content-article ol li {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			if ( t.className != 'comments-item' ) {
				t.insertAdjacentHTML(
					'afterBegin',
					'<span class="content-article-li-number">' +
						( ++t.parentNode.IEcounter || ( t.parentNode.IEcounter = 1 )) +
					'.</span>'
				);
			}
		}(this)
	);
	}
	* + html .content-article-li-number {
		position:absolute;
		margin:-3px 0 0 -1.5em;
		}

/* Definitions */
* + html .content-article dl dt {
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			if ( t.parentNode.parentNode.className != 'comments-item' ) {
				t.insertAdjacentHTML(
					'afterBegin',
					'<span class="content-article-dl-dash">&mdash;</span>'
				);
			}
		}(this)
	);
	}
	* + html .content-article-dl-dash {
		position:absolute;
		margin:-4px 0 0 -1.5em;
		}

/* Code Block */
* + html .content-article pre code {
	display:inline-block;
	width:100%;
	white-space:pre;
	behavior:expression(
		function(t){
			t.runtimeStyle.behavior = 'none';
			t.insertAdjacentHTML(
				'afterBegin',
				'<span class="content-article-code-number">' +
					( t.parentNode.IEcounter > 8 ? '' : '0' ) +
					( ++t.parentNode.IEcounter || ( t.parentNode.IEcounter = 1 )) +
				'.</span>'
			);
		}(this)
	);
	}
	* + html .content-article-code-number {
		position:absolute;
		margin-left:-30px;
		color:#8DB4CC;
		}

/* Form
---------------------------------------- */

/* Comment */
* + html .form-comment {
	zoom:1;
	}
	* + html .form-comment fieldset label {
		vertical-align:1.5%;
		}

/* Darkbox Done
---------------------------------------- */
* + html .darkbox-done .darkbox-canvas {
	filter:none !important;
	}