/* Reset
---------------------------------------- */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin:0;
	padding:0;
	border:0;
	font-size:100%;
	font:inherit;
	vertical-align:baseline;
	}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display:block;
	}
body {
	line-height:1;
	}
ol, ul {
	list-style:none;
	}
blockquote, q {
	quotes:none;
	}
blockquote:before, blockquote:after,
q:before, q:after {
	content:'';
	content:none;
	}
table {
	border-collapse:collapse;
	border-spacing:0;
	}

/* Global
---------------------------------------- */
body {
	background:#2E5A75;
	color:#333;
	font:13px/1.6 'Helvetica Neue', Helvetica, Arial, sans-serif;
	}
a {
	text-decoration:none;
	}

/* Skipto
---------------------------------------- */
.skipto {
	display:none;
	}

/* Page
---------------------------------------- */
#page {
	margin:0 auto;
	width:950px;
	}

/* Header
---------------------------------------- */
#header {
	position:relative;
	overflow:hidden;
	margin:0 0 20px;
	padding-left:64px;
	background:#122E39;
	color:#FFF;
	}

/* Logo */
#header .logotype {
	position:absolute;
	top:50%;
	left:10px;
	margin:-17px 0 0;
	width:44px;
	height:33px;
	}
	#header .logotype img {
		display:block;
		}
	#header .logotype a img {
		opacity:0.5;
		-webkit-transition:opacity 0.2s linear;
		-moz-transition:opacity 0.2s linear;
		-o-transition:opacity 0.2s linear;
		transition:opacity 0.2s linear;
		}
	#header .logotype a:hover img {
		opacity:1;
		}

/* Heading */
#header .heading {
	padding:7px 0 9px 10px;
	width:876px;
	background:#153543;
	line-height:1;
	font-family:'Trebuchet MS', Arial, sans-serif;
	}
	#header .heading * {
		text-shadow:#122E39 0 1px 3px;
		font-size:25px;
		}
	#header .heading a {
		color:#FFF;
		}
	#header .heading p {
		color:#94BC1B;
		text-shadow:#122E39 0 1px 3px;
		font-size:11px;
		}

/* Search */
#header .form {
	position:absolute;
	top:15px;
	right:14px;
	}

/* Body
---------------------------------------- */
#body:after {
	clear:both;
	display:block;
	content:'';
	}

/* Sidebar
---------------------------------------- */
#sidebar {
	float:left;
	width:150px;
	}
	#sidebar h2 {
		display:none;
		}

/* Menu
---------------------------------------- */
#menu {
	margin:3px 0 20px;
	font:15px/1 'Trebuchet MS', Arial, sans-serif;
	}
	#menu li * {
		display:block;
		padding:8px 0 8px 15px;
		border-top:1px solid #a6c940;
		background:#94BC1B;
		color:#FFF;
		text-shadow:0 -1px 1px rgba(0, 0, 0, 0.4);
		-webkit-transition:background 0.2s linear;
		-moz-transition:background 0.2s linear;
		-o-transition:background 0.2s linear;
		transition:background 0.2s linear;
		}
	#menu li a:hover {
		text-shadow:
			0 -1px 1px rgba(0, 0, 0, 0.4),
			0 0 5px rgba(255, 255, 255, 0.7);
		background:#9AC41C;
		}

/* First */
#menu li:first-child * {
	padding-top:9px;
	padding-bottom:7px;
	border:none;
	border-top-left-radius:10px;
	}

/* Last */
#menu li:last-child * {
	padding-top:7px;
	padding-bottom:9px;
	border-bottom-left-radius:10px;
	}

/* Current */
#menu .current * {
	padding-left:14px;
	background:#8AAB13;
	border-color:#809E11;
	margin-left:1px;
	}
#menu .current a:hover {
	background:#90b214;
	}

/* Module
---------------------------------------- */
.module {
	margin:0 0 10px;
	line-height:1.2;
	}
	.module dt {
		padding:11px 15px 9px;
		border-bottom:1px solid #2E5A75;
		border-top-left-radius:10px;
		background:#153543;
		color:#40718F;
		text-shadow:#102933 0 1px 0;
		text-transform:uppercase;
		line-height:1;
		letter-spacing:1px;
		font-size:9px;
		}
	.module dd {
		padding:9px 15px 0;
		border-bottom-left-radius:10px;
		background:#153543;
		}

/* User */
.module-user {
	display:none;
	}
.module-user-current {
	display:block;
	}

/* Tags */
.module-tags ul {
	margin:-2px 0 0;
	padding:0 0 8px;
	font-size:11px;
	line-height:1.6;
	}
.module-tags li {
	display:inline;
	color:#315A77;
	}
.module-tags li:after {
	content:'\00A0\00B7';
	}
.module-tags li:last-child:after {
	content:'';
	}

/* Content Layout
---------------------------------------- */
#content {
	float:right;
	width:796px;
	border:2px solid #FFF;
	border-radius:0 15px 15px 15px;
	background:#153543;
	box-shadow:0 5px 15px rgba(21, 53, 67, 0.5);
	}
	#main {
		float:left;
		margin:0 0 -2px -2px;
		min-height:700px;
		background:#FFF;
		}
	#aside {
		float:right;
		}

/* Index */
#index #content {
	background:#153543;
	}
	#index #main {
		padding:12px 20px 5px 20px;
		width:360px;
		border-radius:0 15px 0 15px;
		}
	#index #aside {
		padding:12px 18px 5px 0;
		width:360px;
		}

/* Article */
#article #content {
	background:#153543;
	}
	#article #main {
		position:relative;
		z-index:2;
		padding:12px 20px 5px 20px;
		width:510px;
		border-bottom-left-radius:15px;
		}
	#article #aside {
		padding:15px 20px 5px 0;
		width:208px;
		}

/* Editors */
#editors #content {
	background:#FFF;
	}
	#editors #main {
		position:relative;
		z-index:2;
		float:none;
		padding:12px 20px 5px 20px;
		background:none;
		}

/* Intro
---------------------------------------- */
#intro {
    min-height: 160px;
	padding:10px 416px 0 18px;
	background:url(../images/logo-main.png) 420px 60% no-repeat;
	}
	#intro h2 {
		margin:0 0 8px;
		text-shadow:#102933 0 0 6px;
		font:20px 'Trebuchet MS', Arial, sans-serif;
		color:#8FBFCC;
		}

/* Content
---------------------------------------- */
.content h1,
.content h2,
.content h3 {
	line-height:1;
	}
.content h1 {
	display:none;
	}
.content p {
	padding-bottom:12px;
	}
.content b,
.content strong {
	font-weight:bold;
	}
.content i,
.content em {
	font-style:italic;
	}
.content kbd,
.content code {
	padding:2px 4px;
	border-radius:3px;
	line-height:1;
	font-family:Consolas, Monaco, 'Courier New';
	}

/* User */
.content .user,
.content .user:hover {
	padding-left:11px;
	background:url(../images/user.gif) 0 50% no-repeat;
	}

/* Paging */
.content .paging {
	padding:12px 0 0;
	text-align:center;
	}
	.content .paging li {
		display:inline-block;
		padding:3px 3px 24px;
		}
	.content .paging a {
		padding:2px 7px;
		}
	.content .paging .current {
		padding-right:10px;
		padding-left:10px;
		margin:0 2px;
		}

/* Heading Group
---------------------------------------- */
.heading-group h1 {
	display:block;
	}
.heading-group .heading {
	padding:0 0 10px 20px;
	margin:0 0 10px -20px;
	background-position:-100px 100%;
	background-repeat:no-repeat;
	font:20px/1 'Trebuchet MS', Arial, sans-serif;
	}
.heading-group p,
.heading-group ul {
	padding:0 0 5px;
	font-size:11px;
	}

/* Heading RSS */
.heading-rss {
	overflow:hidden;
	}
	.heading-rss * {
		float:left;
		}
	.heading-rss .rss {
		margin-left:5px;
		width:9px;
		height:9px;
		background:url(../images/rss.png) no-repeat;
		text-indent:-9999px;
		}

/* Heading Article */
.heading-article {
	text-align:center;
	}
	.heading-article .heading {
		padding-left:0;
		margin-left:0;
		background-position:50% 100%;
		}
	.heading-article p {
		display:none;
		}
	.heading-article address {
		display:block;
		margin:0 0 6px;
		font-size:11px;
		}

/* Archive List
---------------------------------------- */
.archive-list {
	padding:0 0 12px;
	}
	.archive-list .archive-item {
		padding:12px 0 0;
		border-bottom:1px dotted;
		}
	.archive-list .archive-item:first-child {
		padding-top:0;
		}

/* Compact List */
.compact-list .heading p {
	display:inline;
	font-size:11px;
	}
.compact-list .heading p:after {
	content:'\00A0\00A0\00B7\00A0';
	}
.compact-list .heading h2,
.compact-list .heading h3 {
	display:inline;
	}

/* Content Primary
---------------------------------------- */
.content-primary {
	color:#262626;
	}
	.content-primary h1,
	.content-primary h2,
	.content-primary h3 {
		color:#456375;
		}
	.content-primary a {
		color:#2B8BAD;
		}
	.content-primary a:hover {
		color:#8AB219;
		}
	.content-primary a code {
		color:inherit;
		}
	.content-primary code {
		background:#E7F6FB;
		color:#2E5A75;
		}

/* Heading Group */
.content-primary .heading-group .heading {
	background-image:url(../images/shadow-primary.png);
	text-shadow:#FFF 0 0 6px;
	}
.content-primary .heading-group p {
	color:#BBB;
	}

/* Heading RSS */
.content-primary .heading-rss .rss {
	background-position:0 0;
	}

/* Heading Article */
.content-primary .heading-article .heading a {
	color:#94BC1B;
	-webkit-transition:color 0.2s linear;
	-moz-transition:color 0.2s linear;
	-o-transition:color 0.2s linear;
	transition:color 0.2s linear;
	}
.content-primary .heading-article .heading a:hover {
	color:#ACDB1F;
	}
.content-primary .heading-article address {
	color:#8FBFCC;
	}

/* Archive List */
.content-primary .archive-list li {
	border-color:#B1D7E5;
	}
.content-primary .archive-list .heading p {
	color:#BBB;
	}

/* Paging */
.content-primary .paging {
	background:url(../images/shadow-paging.png) 50% 12px no-repeat;
	}
	.content-primary .paging .current {
		background:#FFF;
		color:#456375;
		}

/* Number */
.content-primary .comments-number {
	margin-top:-6px;
	text-align:center;
	font-size:11px;
	}

/* Content Secondary
---------------------------------------- */
.content-secondary {
	color:#FFF;
	}
	.content-secondary a {
		color:#63BBDB;
		}
	.content-secondary a:hover {
		color:#B2DB35;
		}
	.content-secondary code {
		background:#1C4052;
		color:#A9D2EB;
		}
	.content-secondary q {
		color:#A9D2EB;
		font-style:italic;
		font-family:'Trebuchet MS', Arial, sans-serif;
		}
	.content-secondary q:before {
		content:'\00AB';
		}
		.content-secondary q q:before {
			content:'\201E';
			}
	.content-secondary q:after {
		content:'\00BB';
		}
		.content-secondary q q:after {
			content:'\201C';
			}

/* Heading Group */
.content-secondary .heading-group .heading {
	background-image:url(../images/shadow-secondary.png);
	text-shadow:#102933 0 0 6px;
	}

/* Heading RSS */
.content-secondary .heading-rss a {
	color:#FFF;
	}
.content-secondary .heading-rss .rss {
	background-position:0 -9px;
	}

/* Archive List */
.content-secondary .archive-list,
.content-secondary .archive-list li {
	border-color:#2E5A75;
	}
.content-secondary .archive-list .heading p {
	color:#40718F;
	}

/* Content Article
---------------------------------------- */

/* Headings */
.content-article h2,
.content-article h3 {
	font-family:'Trebuchet MS', Arial, sans-serif;
	}
.content-article h2,
.content-article h3 {
	padding:12px 0;
	}
.content-article h2 {
	font-size:18px;
	}
.content-article h3 {
	font-size:15px;
	}

/* Intro */
.content-article .intro {
	color:#2E5A75;
	font-style:italic;
	}

/* Note */
.content-article .note {
	color:#456375;
	font-size:11px;
	}
.content-article .note-last {
	padding-top:10px;
	border-top:1px dotted #B1D7E5;
	}

/* Quotes */
.content-article q {
	color:#456375;
	font-style:italic;
	font-family:'Trebuchet MS', Arial, sans-serif;
	}
.content-article q:before {
	content:'\00AB';
	}
	.content-article q q:before {
		content:'\201E';
		}
.content-article q:after {
	content:'\00BB';
	}
	.content-article q q:after {
		content:'\201C';
		}

/* Lists */
.content-article ul,
.content-article ol {
	padding:0 0 12px 1.5em;
	color:#2E5A75;
	}
	.content-article ul ul,
	.content-article ul ol,
	.content-article ol ol,
	.content-article ol ul {
		margin-left:20px;
		padding:0;
		}
.content-article ul li:before {
	position:absolute;
	margin:0 0 0 -1.5em;
	content:'\2014';
	}
.content-article ol {
	counter-reset:list;
	}
	.content-article ol li:before {
		position:absolute;
		margin:0 0 0 -1.5em;
		counter-increment:list;
		content:counter(list)'.';
		}

/* Definitions */
.content-article dl {
	padding-left:1.5em;
	}
	.content-article dl dt {
		padding:0 0 4px;
		color:#2E5A75;
		}
	.content-article dl dt:before {
		position:absolute;
		margin:0 0 0 -1.5em;
		content:'\2014';
		}

/* Blockquote */
.content-article blockquote {
	padding-left:37px;
	margin-left:-7px;
	background:url(../images/quote.gif) 0 3px no-repeat;
	font:italic 12px/1.6 'Trebuchet MS', Arial, sans-serif;
	color:#456375;
	}

/* Code Block */
.content-article pre {
	padding:12px 20px 15px 50px;
	margin:0 -20px 12px;
	background:#EBF7FB;
	border:1px solid #E4F2F7;
	border-width:1px 0;
	white-space:normal;
	counter-reset:code;
	}
	.content-article pre code {
		display:block;
		background:none;
		white-space:pre-wrap;
		line-height:1.4;
		}
		.content-article pre code:before {
			position:absolute;
			margin-left:-30px;
			color:#8DB4CC;
			counter-increment:code;
			content:counter(code, decimal-leading-zero)'.';
			}
	.content-article pre code:only-child {
		margin-left:-30px;
		}
		.content-article pre code:only-child:before {
			content:'';
			}

/* Table */
.content-article table {
	margin:0 -20px 12px;
	width:550px;
	border:1px solid #E4F2F7;
	border-width:1px 0;
	color:#2E5A75;
	table-layout:fixed;
	}
	.content-article table tr:nth-child(2n+1) {
		background:#EBF7FB;
		}
	.content-article table th,
	.content-article table td {
		padding:5px 20px;
		border:1px solid #E4F2F7;
		border-width:1px 0;
		text-align:left;
		}
	.content-article table th {
		padding-bottom:20px;
		}

/* Figure */
.content-article figure {
	margin:12px 0;
	}
	.content-article figcaption {
		margin:6px 0 0;
		color:#456375;
		text-align:center;
		font-size:11px;
		}

/* Picture */
.content-article .pic {
	display:block;
	margin:12px 0 12px;
	width:510px;
	}
.content-article .pic-left {
	float:left;
	margin:5px 20px 12px 0;
	width:180px;
	}
.content-article .pic-right {
	float:right;
	margin:5px 0 12px 20px;
	width:180px;
	}
.content-article .pic-middle {
	margin:12px auto 12px;
	width:auto;
	}

/* Editors */
.content-article .editor {
	position:relative;
	display:inline-block;
	margin:10px 0 0;
	padding:160px 0 15px 0;
	width:185px;
	vertical-align:top;
	}
	.content-article .editor dt {
		padding:0 0 3px;
		font-weight:bold;
		}
	.content-article .editor dt:before {
		content:'';
		}
	.content-article .editor dd {
		padding-right:30px;
		}
	.content-article .editor img {
		position:absolute;
		top:0;
		left:0;
		}

/* Comments */
.content-article .comments {
	padding:0;
	margin:0 -20px 0;
	border-bottom:1px dotted #B1D7E5;
	}
.content-article .comments-item:before {
	content:'';
	}
	.content-article .comments dl {
		position:relative;
		padding:12px 20px 0;
		background:url(../images/shadow-comment.png) 50% 0 no-repeat;
		border-top:1px dotted #B1D7E5;
		}
	.content-article .comments dt {
		overflow:hidden;
		padding:0 0 8px;
		color:#456375;
		}
	.content-article .comments dt:before {
		content:'';
		}
		.content-article .comments dt .user {
			float:left;
			}
		.content-article .comments dt .date {
			float:right;
			white-space:nowrap;
			font-size:11px;
			}
	.content-article .comments dd {
		}
		.content-article .comments dd .note {
			font-size:11px;
			color:#456375;
			}

/* Video Player
---------------------------------------- */
.video-player,
.iframe {
	display:block;
	margin-bottom:12px;
	}

/* Tag List
---------------------------------------- */
.tag-list {
	color:#456375;
	font-size:11px;
	}

/* Content Aside
---------------------------------------- */
.content-aside {
	font-size:11px;
	}
	.content-aside h3 {
		padding-bottom:10px;
		color:#40718F;
		text-shadow:#102933 0 1px 0;
		text-transform:uppercase;
		line-height:1;
		letter-spacing:1px;
		font-size:9px;
		}
	.content-aside p {
		padding-bottom:10px;
		}

/* Lists */
.content-aside ul {
	padding:0 0 6px;
	line-height:1.2;
	}
	.content-aside ul ul {
		padding-bottom:0;
		}
	.content-aside ul li {
		padding:0 0 4px 12px;
		background:url(../images/bullet-secondary.gif) 0 3px no-repeat;
		}

/* Form
---------------------------------------- */
.form .submit {
	margin:0;
	cursor:pointer;
	}

/* Primary */
.form-primary label {
	color:#456375;
	}

/* Secondary */
.form-secondary label {
	color:#7DA7B3;
	}

/* Search */
.form-search {
	font-size:11px;
	}
	.form-search legend {
		display:none;
		}
	.form-search .text {
		margin-right:8px;
		width:160px;
		}

/* Comment */
.form-comment {
	padding:0 20px 8px 20px;
	margin:0 -20px -5px -20px;
	border-bottom-left-radius:10px;
	background:#EBF7FB;
	}
	.form-comment fieldset {
		margin:0 0 12px;
		}
		.form-comment fieldset label {
			font-size:11px;
			}
	.form-comment .text {
		margin-right:5px;
		width:240px;
		}
	.form-comment textarea.text {
		display:block;
		margin:0 0 12px;
		width:502px;
		max-width:508px;
		line-height:22px;
		}
	.form-comment p {
		line-height:1;
		font-size:11px;
		color:#777;
		}
		.form-comment p code {
			padding:0;
			background:none;
			font-size:11px;
			}

/* User */
.form-user .text {
	margin:0 0 12px;
	}
.form-user label {
	display:block;
	margin:0 0 3px 1px;
	}
.form-user fieldset {
	padding-bottom:12px;
	margin:0 0 10px;
	border-bottom:dotted 1px #2E5A75;
	}
.form-user .text {
	width:114px;
	}

/* Footer
---------------------------------------- */
#footer {
	overflow:hidden;
	padding:6px 20px 20px 170px;
	color:#73AFBF;
	text-shadow:0 -1px 1px #122E39;
	font-size:11px;
	}
	#footer .copy {
		float:left;
		}
	#footer .powered {
		float:right;
		}
	#footer a {
		color:#73AFBF;
		}
	#footer a:hover {
		color:#91DDF2;
		}

/* Books
---------------------------------------- */
.content-article .books {
	padding:10px 0 0;
	overflow:hidden;
	}
	.content-article .books li {
		float:left;
		width:255px;
		height:255px;
		}
	.content-article .books li:before {
		content:none;
		}
	.content-article .books img {
		display:block;
		margin:0 0 15px;
		height:180px;
		border:solid 2px #E4F2F7;
		}

/* Darkbox
---------------------------------------- */
.darkbox {
	position:fixed;
	top:0;
	left:0;
	z-index:999;
	display:none;
	overflow:hidden;
	width:100%;
	height:100%;
	}
	.darkbox .darkbox-shadow {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:#000;
		}
	.darkbox .darkbox-canvas {
		position:absolute;
		top:50%;
		left:50%;
		overflow:hidden;
		margin:-40px 0 0 -40px;
		width:80px;
		height:80px;
		border-radius:15px;
		background:#000 url(../images/spinner.png) 24px 24px no-repeat;
		}
		.darkbox .darkbox-canvas img {
			display:block;
			visibility:hidden;
			}
	.darkbox .darkbox-button {
		position:absolute;
		top:-13px;
		z-index:1;
		display:none;
		overflow:hidden;
		width:30px;
		height:30px;
		background:url(../images/close.png) no-repeat;
		cursor:pointer;
		}
	.darkbox .darkbox-button-left {
		left:-16px;
		}
	.darkbox .darkbox-button-right {
		right:-16px;
		}

/* Darkbox On
---------------------------------------- */
.darkbox-on {
	display:block;
	}

/* Darkbox Loaded
---------------------------------------- */
.darkbox-loaded .darkbox-canvas {
	overflow:visible;
	height:auto;
	border-radius:0;
	background:none;
	}
	.darkbox-loaded .darkbox-canvas img {
		width:100%;
		visibility:visible;
		}

/* Darkbox Error
---------------------------------------- */
.darkbox-error .darkbox-canvas {
	background-image:url(../images/error.png);
	}

/* Darkbox Done
---------------------------------------- */
.darkbox-done .darkbox-canvas {
	box-shadow:0 0 20px rgba(0, 0, 0, 0.4);
	}
.darkbox-done .darkbox-button {
	display:block;
	}

/* Share Buttons
---------------------------------------- */
.share-buttons {
	padding-top:10px;
	border-top:1px dotted #B1D7E5;
	}
	.share-buttons .b-share {
		padding:0 !important;
		}